body {
    background-image: url("images/canvas_background.jpg");
    background-repeat: no-repeat;
    background-size: 960px 600px;
}
#workplace{
    width:220px;
    height:100%;
    position: fixed;
    top: 0;
    left: 740px;
}
#tools{
    width:120px;
    height:400px;
    position: fixed;
    top: 200px;
    left: 775px;
    list-style-type: none;
    column-count: 2;
}
#tools li{
    height: 30px;
    width: 30px;
    margin: 6px;
    display: inline-block;
}
#tools img{
    height: 30px;
    width: 30px;
    border: 1px dashed black;
}
#canvas{
    background: white;
    border: 5px solid black;
    position: fixed;
    top: 20px;
    left: 35px;
    
}


#color_palette1{
    position: fixed;
    top: 30px;
    left: 790px;
}
#color_palette2{
    position: fixed;
    top: 30px;
    left: 920px;
}


.brush_slider {
    -webkit-appearance: none;
    background: #00d3f8c2;
    width: 100px;
    height: 4px;
    border-radius: 5px;
    position: fixed;
    top: 180px;
    left: 820px;
    transition: 0.2s;
}
.brush_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: url('images/slider.png');
    cursor: pointer;
}
.brush_slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: url('images/slider.png');
    cursor: pointer;
}
.minibrush {
    width: 16px;
    height: 16px;
    position: fixed; 
    top: 175px;
    left: 800px;
}
.minibrush img{
    max-width: 100%;
    max-height: 100%;
}
#brushsize_show {
    font-size: 15px;
    position: fixed; 
    top: 175px;
    left: 930px;
}


.text_slider {
    -webkit-appearance: none;
    background: #00d3f8c2;
    width: 100px;
    height: 4px;
    border-radius: 5px;
    position: fixed;
    top: 200px;
    left: 820px;
    transition: 0.2s;
}
.text_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: url('images/slider.png');
    cursor: pointer;
}
.text_slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: url('images/slider.png');
    cursor: pointer;
}
.minitext {
    width: 16px;
    height: 16px;
    position: fixed; 
    top: 195px;
    left: 800px;
}
.minitext img{
    max-width: 100%;
    max-height: 100%;
}
#textsize_show {
    font-size: 15px;
    position: fixed; 
    top: 195px;
    left: 930px;
}

#font_sidebar{
    background-color: lemonchiffon;
    height: 120px;
    width:  0;
    position: absolute;
    top: 315px;
    right: 0;
    padding-top: 15px;
    z-index: 1;
    transition: 0.5s;
    overflow-x: hidden;
}
#font_sidebar #font_close{
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 20px;
    margin-left: 50px;
  }
#font_sidebar #serif{font-family: serif; font-size: 15px; margin: 2px; display: block; transition: 0.4s;}
#font_sidebar #sans-serif{font-family: sans-serif; font-size: 15px; margin: 2px; display: block; transition: 0.4s;}
#font_sidebar #cursive{font-family: cursive; font-size: 15px; margin: 2px; display: block; transition: 0.4s;}
#font_sidebar #fantasy{font-family: fantasy; font-size: 15px; margin: 2px; display: block; transition: 0.4s;}
#font_sidebar #monospace{font-family: monospace; font-size: 15px; margin: 2px; display: block; transition: 0.4s;}

#filebutton {
    position: fixed;
    top: 550px;
    left: 800px;
}


